
<h1>This is your profile <%= current_user.name %></h1>


<h3>Which one of your friends do you want to borrow money from?</h3>


<ul>
<% current_user.friends.each do |friend| %>

  <li><%= link_to friend.name, user_friendship_path(current_user.id, friend.id) %> -<%= link_to friend.friend_relationship(current_user.id, friend.id), friend_relationship_path(current_user.id, friend.id)%></li>
<% end %>
</ul>

<h3> Add your friends here</h3>
<%= link_to "Add Friends", add_friends_path(:id=>current_user.id) %>

<h3>These are the top five biggest lent amounts!</h3>
<ul>
  <% @biggest.each do |transaction| %>
  <li><%= transaction.lender.name %> lent <%= transaction.amount%> to <%= transaction.borrower.name%></li>
  <% end %>
</ul>
