
<% if current_user != @user %>
  <h1>Hey <%= current_user.name%>! You only visit when you need money</h1>
<% else %>
  <h1>Hi <%= @user.name %></h1>
  <h3> This is sort of your profile page</h3>
<% end %>


<table>
  <tr>
    <% if current_user != @user %>
      <td>This is <%= @user.name %>'s balance. (Do you really need the money that bad?): <h3>$<%= @user.balance %></h3></td>
    <% else %>
      <td>This is your balance: <%= @user.balance %></td>
      <td><%= link_to 'Edit', edit_balance_path(@user) %></td>
    <% end %>
  </tr>
</table>


<% if current_user != @user %>

  <%= form_for @transaction, remote: true, data: { no_turbolink: true } do |f| %>
    <h4>How much are you taking from poor <%= @user.name%>?</h4>
    $<%= f.text_field :amount %>
    <%= f.hidden_field :lender_id, value: @user.id %>
    <%= f.submit "Your friend is so generous" %>

  <% end %>
<% end %>




<div>

  <% if current_user != @user%>
    <h4><%= "#{@user.name} borrowed from #{@user.borrowed.pluck(:lender_id).uniq.count} this many people" %></h4>
  <% else  %>
    <ul>
      <h4>These are the people you owe.</h4>
      <% @user.unique_lenders.each do |lender| %>
        <li><%=link_to lender.name, user_path(lender) %> - $<%= @user.total_borrowed_from(lender.id)%></li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if !@user.lent_out.empty? %>
<h3>These are all of the people that you need to hunt</h3>
<div>
    <ul>
  <% @user.unique_borrowers.each do |borrower| %>
      <li><%=link_to borrower.name, user_path(borrower) %> - $<%= @user.total_lended(borrower.id)%></li>
  <% end  %>
  </ul>
</div>
<% end %>
